
*{
    padding: 0;
    margin: 0;
    font-family: 'regular';
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
.container{
    background: #11001F;
    color: #FFFFFF;
}

:root{
    --head-height: 80px;
}
html, body {
  overflow-x: hidden;
}



/************* header **********************/


header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--head-height);
    background: #11001F;
    width: 100%;
    z-index: 1000;
   transition: 0.3s ease;
    
    
}

.close-btn {
  display: none;
}

nav {
  transition: 0.3s ease;
  display: flex;
}
.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


header.scrolled {
  border-bottom: 1px solid #636060;
}

header.scrolled nav {
  border: none !important;
}
.head{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    max-width: 1200px;
    margin: 2px auto;
    
    
    
}
.head h1{
    font-size: 30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500 ;
    letter-spacing: 1px;
    cursor: pointer;
}
.head h1 span{
    font-size: 50px;
    font-weight: 600 ;
    color: #B923DF;
}
nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    margin:15px 10px 0 35px;
    
    border: 0.1px solid #636060;
    border-radius: 50px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'bold';
    letter-spacing:0.6px;
    padding: 15px 0;
}
nav a:hover{
    color: #7e6e6e;
}
.btn{
    width: 130px;
    
    font-size: 15px;
    font-weight: 400;
    text-align: center;
   
   
    margin-top: 15px;
    
    
}

.btn a{
    
     border: 0.1px solid #636060;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
   
    letter-spacing: 1px;
    
    
    
}
.btn a:hover{
    background: #2b014e;
}

.btn a span{
    padding-left: 5px;
    font-size: 20px;
    font-weight: 800;
    
    left: 55px;
    top: -6px;
}

/**************home*************/





.homecontent{
    width: 90%;
    max-width: 900px;
    height: calc(100vh - var(--head-height));
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
    
    

}
.homecontent img{
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 70px;
}
.homecontent>p{
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}
.homecontent p .akil{
    font-size: 24px;
    padding-left: 5px;
}
.homecontent h4{
    font-size: 66px;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 1;
    
}
.homecontent .para{
    font-size: 16px;
    line-height: 1.6;
}
.home-btn{
    width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    letter-spacing: 1px;
    
}
.con{
    
    text-decoration: none;
    color: #FFFFFF;
    border: 0.1px solid #636060;
    padding: 10px 45px;
    border-radius: 30px;
    background: linear-gradient(135deg,#B921E5,#D97B25);
    
}
.con span{
    padding-left: 5px;
}
/****resume***/
.res{
    
    text-decoration: none;
    color: #FFFFFF;
    border: 0.1px solid #636060;
    padding: 10px 32px;
    border-radius: 30px;

}
.res:hover{
     background: #2b014e;
}
.res span{
    padding-left: 5px;
}

/**********about section**********/




.sec-about{
    max-width: 1200px;
    width: 85%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    
    
    
    
}
.about{
    padding-top: 100px;
    padding-bottom: 20px;
}


.about>p{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
    
    
}
.about>h3{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
}

.fit{
    display: flex;
    
    
}
.fit .img{
    flex: 1;
    padding: 30px 0;
    

    
}
.fit img{
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 25px;
    
}
.fit .conten{
    flex: 2;
    padding-top: 15px;
}
.conten>p{
    width: 80%;
    font-size: 16px;
    
    letter-spacing: 0.4px;
    line-height: 1.6;
    padding-bottom:10px ;
}
.conten .list{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 90%;
    padding-bottom: 20px;
    
    
}

.conten .box{
    flex: 1;
    border: 0.1px solid #636060;
    margin: 15px 0;
    padding: 20px;
    letter-spacing: 0.5px;
    border-radius: 13px;
    transition: transform 0.6s ease-out , box-shadow 0.3s;
    
    
}
.box:hover{
    background-color: #1a012e;
    transform: translate(-3px, -6px);
  box-shadow: 3px 3px 0 #fff;
}
.list .emt{
    background: url('./img/mail-sprite-icon.png') no-repeat;
    background-size: 500px auto;
    background-position: 0 0;
    width: 47px;
    height: 46px;
    filter: brightness(0) invert(1);
    padding-bottom: 20px;
    
}
.lang .emt{
    background-position: 0 0;
}
.edu .emt{
    background-position: -136px 0;
}
.pro .emt{
    background-position: -45px 0;
}
.box h2{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}
.box p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}
.tools{
    width: 100%;
    max-width: 300px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.tools .logo{
    width: 45px;
    height: 45px;
    background: url(./img/integration-icons-sprite-2x.png);
    background-repeat: no-repeat;
    background-size: 1087px auto;
    border-radius: 3px;
    transition: transform 0.6s ease-out;
    background-position: 10px 0px;

}
.tools .logo:hover{
    background-color: #150027;
    transform: translate(0px, -6px);
  
}
.tools .one{
    background-position: -523px 0px;
}
.tools .two{
    background-position: -698px 0px;
}
.tools .three{
    background-position: 1px -45px;
}
.tools .four{
    background-position: -654px 0px;
}
.tools .five{
    background-position: -86px -88px;
}

/* cerificate */
.certificate-section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
 height: calc(100vh - 80px);
 padding-top: 100px;
  
}

.certificate-section h3{
  font-size: 28px;
  margin-bottom: 30px;
  
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
  align-items: center;
  gap: 15px;
}

.slide-container {
  width: 100%;
  
  overflow: hidden;
}

.slide {
  display: none;
  animation: fade 0.4s ease;
  
}

.slide.active {
  display: block;
}
.cert-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cert-box img {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    border-radius: 10px;
}

.cert-text{
    flex: 1;
    text-align: left;
    padding-top: 10px;
}
.cert-text h3{
    margin-bottom:8px;

}
.cert-text p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 1.6;
    padding-top: 10px;
}
.cert-text h4{
    font-size: 20px;
    padding-top: 10px;
}
.cert-text ul{
    font-size:16px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    padding: 5px 0 0 15px;
}
.dots{
    margin-top: 25px;
}
.dot {

  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: #7e6e6e;
}
.navv {
 
  background: #7e6e6e;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

/****************** projects *********/
.projects {
   max-width: 1100px;
    width: 85%;
    height:500px;
    margin: 0 auto;
    padding: 0;

}
.proj{
    padding-top: 100px;
}
.projects h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}


.project-card {
    position: relative; 
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 12px;
    transition: 0.3s;
    min-height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.project-card span {
  font-size: 14px;
  font-weight: 600;
}
.project-card .read-more {
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    /* background: linear-gradient(135deg, #B921E5, #D97B25); */
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
    margin-top: 15px;
}



.project-card .read-more:hover {
    
    color: #fff;
}


/********cpntact*****/
.contact{
    max-width: 800px;
    width: 85%;
    height: calc(100vh - var(--head-height));
    margin: 0 auto;
    padding: 70px 0 0 ;

    text-align: center;
    
    
}
.contact *{
    font-weight: 400;
}
.contact h4{
    font-size: 18px;
    padding: 40px 0 10px;
}
.contact h2{
    font-size: 48px;
    padding-bottom: 20px;
    
}
.contact p{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 15px;
}
.contact form{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    
    
}
.contact form .textt{
    display: flex;
    gap:30px;
    padding-bottom: 20px;
}
.contact form .textt input{
    width: 50%;
    margin: 15px 0;
    background-color: #19002C;
    border: 0.1px solid #636060;
    border-radius: 6px;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.contact form .textt input,textarea::placeholder{
    font-weight: 800;
}

.contact form textarea{
    width: 100%;
    height: 150px;
     background-color: #19002C;
    border: 0.1px solid #636060;
    border-radius: 6px;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .btn-sub{
    padding: 30px 0;
    
    
    font-size: 15px;
    font-weight: 400;
    text-align: center;
   
   
   
    
}
.contact .btn-sub a{
   
      
     padding: 15px 20px;     
    border: 0.1px solid #636060;
    border-radius: 30px;
    
    text-decoration: none;
    color: #ffffff;
   
    letter-spacing: 1px;
    
    
}
.contact .btn-sub a:hover{
    background: #2b014e;
}


 /* foooter */
.footer {

  color: #fff;
  padding: 0px 10% 30px;
}

.footer-top {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.footer-top h1{
    font-size: 30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500 ;
    letter-spacing: 1px;
    cursor: pointer;
}
.footer-top h1 span{
    font-size: 50px;
    font-weight: 600 ;
    color: #B923DF;
}

.email {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
  font-size: 15px;
  opacity: 0.9;
}

.footer hr {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.socials a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  opacity: 0.85;
  transition: 0.3s;
}

.socials a:hover {
  color: #b16cff;
}


